/* Google Font Links */

/* Dancing Script */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
/* Cookie */
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');



/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
::selection{
    color: white;
    background-color: var(--primary-color);
}
html {
    scroll-behavior: smooth;
}

